server {
    listen {{ listen_port }} default_server;
    listen [::]:{{ listen_port }} default_server;

    root {{ root_directory }};
    index index.html index.htm index.nginx-debian.html;

    server_name {{ server_name }};

    location / {
        try_files $uri $uri/ =404;
    }

    error_page 404 /404.html;
        location = /40x.html {
    }

    error_page 500 502 503 504 /50x.html;
        location = /50x.html {
    }
}
