server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

client:
  url: {{ loki_url }}

scrape_configs:
{% for job in promtail_jobs %}
 - job_name: {{ job.name }}
   pipeline_stages:
   - docker:
   static_configs:
   - targets:
      - localhost
     labels:
      job: {{ job.name }}
      host: {{ host_name }}
      __path__: {{ job.log_path }}
{% endfor %}
